.photo{
    width: 450px;
    height: 450px;
    display: block;
    position: relative;
    margin: 35px;
    background-color: antiquewhite;
    align-items: center;
}
img{
    margin-left: auto;
    margin-right: auto;
}