<div class="rightpanel">
    <div class="me">
        <div class="name">
            <h3>Mateusz Piotrowski</h3>
            <p>Junior C# Developer</p>
        </div>
        <div class="project">
            <p style="font-size:20px; margin-left: -20px ;">Cantact</p>
            <p>Adres: Gościejowice 46 <br>49-100 Niemodlin</p>
            <a href="tel:+48791478375"><p>tel.: +48 791-478-375 </p></a>
            <p>e-mail: mp110402@gmail.com</p>
        </div>
    </div>
    <div class="experience">
        <h6>My Project</h6>
        <div class="experience-info">
            <br>
            <p> Eco Services.</p>
            <ul>
                <li>1. <a href="#">github.com/example</a></li>
                <li>2. <a href="#">github.com/example</a></li>
                <li>3. <a href="#">github.com/example</a></li>
            </ul>
        </div>
    </div>
    <div class="experience">
        <h6>My experience</h6>
        <div class="experience-info">
            <br>
            <p> Eco Services.</p>
            <ul>
                <li>example</li>
                <li>expiernie</li>
            </ul>
            <p> Eco Services.</p>
            <ul>
                <li>example</li>
                <li>expiernie</li>
            </ul>
        </div>
    </div>
    <div class="school">
            <h6>My school</h6>
        <div class="school-info">
            <br>
            <p> School1</p>
            <ul>
                <li>example</li>
                <li>expiernie</li>
            </ul>
            <p>School2</p>
            <ul>
                <li>example</li>
                <li>expiernie</li>
            </ul>
        </div>
    </div>
 
</div>

    
