<div class="leftpanel">
    <div class="img">
        <img src="assets/me.jpg" alt="photo" width="100px"
        height="120px">
    </div>
    <div class="about">
        <p>Text about me, Text about me, Text about me, Text about me, Text about me, 
             Text about me,  Text about me,  Text about me,  Text about me, Text about me, Text about me, Text about me, Text about me, Text about me, 
             Text about me,  Text about me,  Text about me,  Text about me, </p>
    </div>
    <div class="contact">
        <h6>CSS</h6>
        <div class="box">
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="white-box"></div>
        </div>
        <h6>PHP</h6>
        <div class="box">
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="white-box"></div>
            <div class="white-box"></div>
        </div>
        <h6>Angular<b> (still working)</b></h6>
        <div class="box">
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="white-box"></div>
            <div class="white-box"></div>
        </div>
        <h6>C#<b> (still working)</b></h6>
        <div class="box">
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="white-box"></div>
            <div class="white-box"></div>
            <div class="white-box"></div>
        </div>
        <h6>Python</h6>
        <div class="box">
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="white-box"></div>
            <div class="white-box"></div>
        </div>
        <h6>Responsive</h6>
        <div class="box">
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="blue-box"></div>
            <div class="white-box"></div>
            <div class="white-box"></div>
        </div>
    </div>
</div>